<head>
    <title>Mi app</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<div>
    <h2>Todos los Productos</h2>
    {{#each productos}}
    <div>
        <h3>Titulo: {{this.title}}</h3>
        <p>Descripcion: {{this.description}}</p>
        <p>Precio: {{this.price}}</p>
        <p>Cantidad: {{this.stock}}</p>
        <p>Id: {{this.id}}</p>
    </div>
    <form action="../api/carts/" method="post">
        <button type="submit">agragar al carrito</button>
    </form>
    {{/each}}
</div>


<div class="pagination">

    {{!-- Primera página --}}
    <a href="/products?page=1">Pág. 1</a>

    {{!-- Página anterior --}}
    {{#if hasPrevPage}}
        <a href="/products?page={{prevPage}}">Pág. Ant.</a>
    {{else}}
        <span class="disabled">Pág. Ant.</span>
    {{/if}}

    {{!-- Página actual --}}
    <span class="current">Página {{page}} de {{totalPages}}</span>

    {{!-- Página siguiente --}}
    {{#if hasNextPage}}
        <a href="/products?page={{nextPage}}">Pág. Sig.</a>
    {{else}}
        <span class="disabled">Pág. Sig.</span>
    {{/if}}

    {{!-- Última página --}}
    <a href="/products?page={{totalPages}}">Últ. pág.</a>

</div>