<div>
    <h2>Todos los Productos</h2>
    {{#each productos}}
    <div>
        <h3>Titulo: {{this.title}}</h3>
        <p>Descripcion: {{this.description}}</p>
        <p>Precio: {{this.price}}</p>
        <p>Cantidad: {{this.stock}}</p>
        <p>Id: {{this.id}}</p>
    </div>
    <form action="../api/carts/" method="post">
        <button type="submit">agragar al carrito</button>
    </form>
    {{/each}}
</div>

<div class="pagination">
    {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}&&limit={{limit}}" class="center"><button>Anterior</button></a>
    {{/if}}
    <p class="page">{{page}}</p>
    {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}&&limit={{limit}}" class="center"><button>Siguiente</button></a>
    {{/if}}
</div>
</div>
