<div>
    <h2>Todos los Productos</h2>
    {{#each productos}}
    <div>
        <h3>Titulo: {{this.title}}</h3>
        <p>Descripcion: {{this.description}}</p>
        <p>Precio: {{this.price}}</p>
        <p>Cantidad: {{this.stock}}</p>
        <p>Id: {{this.id}}</p>
    </div>
    <form action="../api/carts/" method="post">
        <button type="submit">agragar al carrito</button>
    </form>
    {{/each}}
</div>


<a href="/products?page=1">Pág. 1</a>

{{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}">Pág. Ant.</a>
{{/if}}

{{#if hasNextPage}}
    <a href="/products?page={{nextPage}}">Pág. Sig.</a>
{{/if}}

<a href="/products?page={{totalPages}}">Últ. pág.</a>